In [2]:
print ("my name is bukola")

my name is bukola

In [9]:
A= ('My name is bukola')

In [3]:
x = ('and i am from Nigeria')

In [4]:
print (x)

and i am from Nigeria

In [5]:
y =('but my dad')

In [6]:
print (y)

but my dad

In [7]:
T = ('is from ekiti')

In [8]:
print (T)

is from ekiti

In [10]:
print (A,x,y,T)

My name is bukola and i am from Nigeria but my dad is from ekiti

In [1]:
statement = 'My name is bukola and i am from Nigeria but my dad is from ekiti'

In [2]:
statement

'My name is bukola and i am from Nigeria but my dad is from ekiti'

### List

In [14]:
names = ['ola','dele','1000','ola']

In [15]:
names.count('ola')

2

# Dictionary

In [17]:
contries ={'Nigeria':'Abuja', 'USA':'DC'}

In [19]:
4//2 == 0

False

In [20]:
## Assignment

In [21]:
[3,5,10,30,23,7,18,19,11]

multiply 4 * any number less than 10
        5 * any number less than 15
        6 * the rest number

[3, 5, 10, 30, 23, 7, 18, 19, 11]

In [24]:
[3,5,10,30,23,7,18,19,11]

TypeError: 'type' object is not subscriptable

In [35]:
output = []
nums = [3,5,10,30,23,7,18,19,11]
for i in nums:
    if i < 10:
        output.append(i * 4)
    elif i < 15:
        output.append(i * 5)
    else:
        output.append(i * 6)

In [36]:
output

[12, 20, 50, 180, 138, 28, 108, 114, 55]

In [39]:
print(output)

[12, 20, 50, 180, 138, 28, 108, 114, 55]

# List Comprehension